html
	head
		script(type="text/javascript" src="/socket.io/socket.io.js")
		script(src="/javascripts/jquery.min.js")
		script.
			var entityMap = {
                "&": "&amp;",
                "<": "&lt;",
                ">": "&gt;",
                '"': '&quot;',
                "'": '&#39;',
                "/": '&#x2F;'
              };
              function escapeHtml(string) {
                return String(string).replace(/[&<>"'\/]/g, function (s) {
                  return entityMap[s];
                });
              }
            var socket=io();
            
		title.
			Omegle
	body

